{% extends 'main/base.html' %}

{% block title %} Register New User {% endblock %}

{% block content %}
<div class = "form">
<section class="container content">

    <h1>Register New User</h1>

    <div class="row">

        <div class="col-6">
           

            <form action="{% url 'accounts:registerPage' %}" method="POST" >
                {% csrf_token %}
                <label>UserName:</label>
                <input class="form-control " type="text" name="username"  />

                <label>Fisrt Name:</label>
                <input class="form-control " type="text" name="first_name"  />

                <label>Last Name:</label>
                <input class="form-control " type="text" name="last_name"  />
        
                <label>Email:</label>
                <input class="form-control" type="email" name="email" required minlength="3" />

                <label>Password:</label>
                <input class="form-control" type="password" name="password" required minlength="8" />


                <input class="btn btn-dark mt-3" type="submit" value="Sign Up" />
            </form>

        </div>

    </div>

</section>
</div>
{% endblock %}